body {
  box-sizing: border-box;
  background: #121212 !important;
  font-family: 'Roboto', sans-serif !important;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #F2F2F2 !important;
}